<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>453157086829-805aeoeanp0a5iqdo9gnpkluvhm4jouv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.453157086829-805aeoeanp0a5iqdo9gnpkluvhm4jouv</string>
	<key>API_KEY</key>
	<string>AIzaSyC0a4qIKlDLNxaOTIqdf2Si1mvTNRu5hWM</string>
	<key>GCM_SENDER_ID</key>
	<string>453157086829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>login-screen-d7e31</string>
	<key>STORAGE_BUCKET</key>
	<string>login-screen-d7e31.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453157086829:ios:c937d1132ce54b5ad74164</string>
</dict>
</plist>